.smart-label-circle-vector-a {
    background-color: #feae02;
    color: black;
    border-color: #feae02;
    padding: 1px 7px 1px 7px;
}

.smart-label-circle-vector-b {
    background-color: #95fe02;
    color: black;
    border-color: #95fe02;
    padding: 1px 7px 1px 7px;
}

.smart-label-circle-vector-c {
    background-color: #d2e1f7;
    color: black;
    border-color: #d2e1f7;
    padding: 1px 7px 1px 7px;
}

.smart-label-circle-vector-ab {
    background-color: #ffffff;
    color: black;
    border-color: #ffffff;
    padding: 1px 7px 1px 7px;
}